@@ -0,0 +1,36 @@
body {
	margin: 0;
	padding: 0;
}
/*start of the header*/
header {
	height: 35px;
}
header img {
	display: inline-block;
	height: 75px;
	width: 80px;
	float: left;
	margin: 1em;
}

h1 {
	margin-top: 100px;
	color: black;
	text-align: center;
	font-family: Arial;
}

.seat-chart {
  width: 100%;
  margin: 0 auto;
  padding:3%;
  display: inline-block;
}

.available {
  background-color: green;
  width: 160px;
  margin: 0 auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;

  
}


.reserved {
  background-color: red;
  width: 160px;
  margin: 0 auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;

}

/* start of the footer */
footer {
	width: 100%;
	margin: 0 auto;
	height: 50px;
	border: 2px ridge black;
	box-shadow: 0 0 10px gray;
	background-color: #9d0b09;
}
 footer ul {
	display: inline-block;
	float: right; 	
}

footer p {
	margin: .8em;
	display: inline-block;
	color: white;
	font-size: 17px;
}
/* style for logo */



/* start of the navigation */
nav {
	width: 100%;
	background-color: #9d0b09;
}
ul.gcnav {
	display: inline-block;
    list-style-type: none;
    background-color: #9d0b09;
    height: 80px;
}

li.gcnav {
    float: left;
    font-size: 12px;
    font-family: Arial;
    height: 80px;
}

li.gcnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 125%;
}

li.gcnav a:hover {
    background-color: #000000;
    color: white;
    text-decoration: none;
}
li.gcfoot {
  list-style-type: none;
  text-align: right;
}

form { border: 1px solid grey;
       padding: 5px;
       margin: 5%;
       border-radius: 10px;
       display: none;

      }

      input[type=submit]
{
   text-align:center;
  
}

.gcfoot{
  display: inline-block;
  margin: 2% auto;
}


@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}